{% set use_s3 = env in ['dev'] %}

INSERT INTO {{ bronze_db }}.{{ bronze_table }}
SELECT
    replaceRegexpAll(replace(_file, '.csv', ''), '[^a-zA-Z0-9]', '') AS batch_id,
    toDate(
        parseDateTimeOrNull(
            concat(
                lpad(splitByChar('_', extract(_file, '(\\d{1,2}_\\d{1,2}_\\d{4})'))[1], 2, '0'), '_',
                lpad(splitByChar('_', extract(_file, '(\\d{1,2}_\\d{1,2}_\\d{4})'))[2], 2, '0'), '_',
                splitByChar('_', extract(_file, '(\\d{1,2}_\\d{1,2}_\\d{4})'))[3]
            ),
            '%d_%m_%Y'
        )
    ) AS event_date,
    now() AS created_ts       ,
    '{{ dag_id }}' AS created_by,
    master_ou_code            ,
    employee_code             ,
    employee_code_pre         ,
    modoption                 ,
    effromdate                ,
    assgntype                 ,
    date_of_join              ,
    employee_f_name           ,
    employee_l_name           ,
    po_sow                    ,
    date_of_birth             ,
    photo                     ,
    gender                    ,
    maritalstatus             ,
    nationality               ,
    religion                  ,
    active                    ,
    department                ,
    designation               ,
    gradeset                  ,
    grade                     ,
    job_hdn                   ,
    hrwrkloc                  ,
    bloodgrp                  ,
    pri_govtid_aadharno       ,
    esicno                    ,
    qulification              ,
    pri_addr1                 ,
    pri_addr2                 ,
    pre_country               ,
    pre_state                 ,
    pre_town                  ,
    pre_city                  ,
    pre_zip                   ,
    pre_mobile                ,
    cur_addr1                 ,
    cur_addr2                 ,
    cur_addr3                 ,
    country                   ,
    city                      ,
    state                     ,
    town                      ,
    old_emp_code              ,
    sub_loc                   ,
    zip                       ,
    mobile                    ,
    emerg_name                ,
    rel_emerg_con             ,
    emerg_con_mobile          ,
    bank_name                 ,
    ifsc_code                 ,
    acc_no                    ,
    esi_eligibility           ,
    UAN_no                    ,
    bloodgrp_cd               ,
    supplier_code             ,
    service_code              ,
    service_desc              ,
    emp_type_code             ,
    pmpry                     ,
    domicile_state            ,
    eff_till_date             ,
    rejection_remarks         ,
    last_available_date       ,
    Employeer_Reason          ,
    Employee_Reason           ,
    Blacklisted               ,
    SAP_ID                    ,
    RSoft_ID                  ,
    Modification_Remarks      ,
    Back_Dated_Hiring_Remarks ,
    Physical_Status           ,
    ERT                       ,
    Medical_Chekup_From_Date  ,
    Medical_Chekup_To_Date    ,
    PAN_Number                ,
    Work_experience           ,
    TP_Code                   ,
    Source_of_Recruitment     ,
    Family_Member_1           ,
    Member_1_Relationship     ,
    Member_1_DOB              ,
    Member_1_Nominee_Percentage ,
    Family_Member_2           ,
    Member_2_Relationship     ,
    Member_2_DOB              ,
    Member_2_Nominee_Percentage ,
    Family_Member_3           ,
    Member_3_Relationship     ,
    Member_3_DOB              ,
    Member_3_Nominee_Percentage ,
    Family_Member_4           ,
    Member_4_Relationship     ,
    Member_4_DOB              ,
    Member_4_Nominee_Percentage ,
    Family_Member_5           ,
    Member_5_Relationship     ,
    Member_5_DOB              ,
    Member_5_Nominee_Percentage ,
    Contract_date             ,
    FOSTAC                                  
FROM 
{% if use_s3 %}
    s3(
        '{{ files_location }}', 'CSV',
        'master_ou_code  Nullable(String),
    employee_code   String,
    employee_code_pre Nullable(String),
    modoption       Nullable(String),
    effromdate      Nullable(String),
    assgntype       Nullable(String),
    date_of_join    Nullable(String),
    employee_f_name Nullable(String),
    employee_l_name Nullable(String),
    po_sow          Nullable(String),
    date_of_birth   Nullable(String),
    photo           Nullable(String),
    gender          Nullable(String),
    maritalstatus   Nullable(String),
    nationality     Nullable(String),
    religion        Nullable(String),
    active          Nullable(String),
    department      Nullable(String),
    designation     Nullable(String),
    gradeset        Nullable(String),
    grade           Nullable(String),
    job_hdn         Nullable(String),
    hrwrkloc        Nullable(String),
    bloodgrp        Nullable(String),
    pri_govtid_aadharno Nullable(String),
    esicno          Nullable(String),
    qulification    Nullable(String),
    pri_addr1       Nullable(String),
    pri_addr2       Nullable(String),
    pre_country     Nullable(String),
    pre_state       Nullable(String),
    pre_town        Nullable(String),
    pre_city        Nullable(String),
    pre_zip         Nullable(String),
    pre_mobile      Nullable(String),
    cur_addr1       Nullable(String),
    cur_addr2       Nullable(String),
    cur_addr3       Nullable(String),
    country         Nullable(String),
    city            Nullable(String),
    state           Nullable(String),
    town            Nullable(String),
    old_emp_code    Nullable(String),
    sub_loc         Nullable(String),
    zip             Nullable(String),
    mobile          Nullable(String),
    emerg_name      Nullable(String),
    rel_emerg_con   Nullable(String),
    emerg_con_mobile Nullable(String),
    bank_name       Nullable(String),
    ifsc_code       Nullable(String),
    acc_no          Nullable(String),
    esi_eligibility Nullable(String),
    UAN_no          Nullable(String),
    bloodgrp_cd     Nullable(String),
    supplier_code   Nullable(String),
    service_code    Nullable(String),
    service_desc    Nullable(String),
    emp_type_code   Nullable(String),
    pmpry           Nullable(String),
    domicile_state  Nullable(String),
    eff_till_date   Nullable(String),
    rejection_remarks Nullable(String),
    last_available_date Nullable(String),
    Employeer_Reason Nullable(String),
    Employee_Reason Nullable(String),
    Blacklisted     Nullable(String),
    SAP_ID          Nullable(String),
    RSoft_ID        Nullable(String),
    Modification_Remarks Nullable(String),
    Back_Dated_Hiring_Remarks Nullable(String),
    Physical_Status Nullable(String),
    ERT             Nullable(String),
    Medical_Chekup_From_Date Nullable(String),
    Medical_Chekup_To_Date Nullable(String),
    PAN_Number      Nullable(String),
    Work_experience Nullable(String),
    TP_Code         Nullable(String),
    Source_of_Recruitment Nullable(String),
    Family_Member_1 Nullable(String),
    Member_1_Relationship Nullable(String),
    Member_1_DOB Nullable(String),
    Member_1_Nominee_Percentage Nullable(String),
    Family_Member_2 Nullable(String),
    Member_2_Relationship Nullable(String),
    Member_2_DOB Nullable(String),
    Member_2_Nominee_Percentage Nullable(String),
    Family_Member_3 Nullable(String),
    Member_3_Relationship Nullable(String),
    Member_3_DOB Nullable(String),
    Member_3_Nominee_Percentage Nullable(String),
    Family_Member_4 Nullable(String),
    Member_4_Relationship Nullable(String),
    Member_4_DOB Nullable(String),
    Member_4_Nominee_Percentage Nullable(String),
    Family_Member_5 Nullable(String),
    Member_5_Relationship Nullable(String),
    Member_5_DOB Nullable(String),
    Member_5_Nominee_Percentage Nullable(String),
    Contract_date Nullable(String),
    FOSTAC Nullable(String)'
    )
{% else %}
url('{{ base_url }}{{ process_path }}/{{ file }}','CSV',
    'master_ou_code  Nullable(String),
    employee_code   String,
    employee_code_pre Nullable(String),
    modoption       Nullable(String),
    effromdate      Nullable(String),
    assgntype       Nullable(String),
    date_of_join    Nullable(String),
    employee_f_name Nullable(String),
    employee_l_name Nullable(String),
    po_sow          Nullable(String),
    date_of_birth   Nullable(String),
    photo           Nullable(String),
    gender          Nullable(String),
    maritalstatus   Nullable(String),
    nationality     Nullable(String),
    religion        Nullable(String),
    active          Nullable(String),
    department      Nullable(String),
    designation     Nullable(String),
    gradeset        Nullable(String),
    grade           Nullable(String),
    job_hdn         Nullable(String),
    hrwrkloc        Nullable(String),
    bloodgrp        Nullable(String),
    pri_govtid_aadharno Nullable(String),
    esicno          Nullable(String),
    qulification    Nullable(String),
    pri_addr1       Nullable(String),
    pri_addr2       Nullable(String),
    pre_country     Nullable(String),
    pre_state       Nullable(String),
    pre_town        Nullable(String),
    pre_city        Nullable(String),
    pre_zip         Nullable(String),
    pre_mobile      Nullable(String),
    cur_addr1       Nullable(String),
    cur_addr2       Nullable(String),
    cur_addr3       Nullable(String),
    country         Nullable(String),
    city            Nullable(String),
    state           Nullable(String),
    town            Nullable(String),
    old_emp_code    Nullable(String),
    sub_loc         Nullable(String),
    zip             Nullable(String),
    mobile          Nullable(String),
    emerg_name      Nullable(String),
    rel_emerg_con   Nullable(String),
    emerg_con_mobile Nullable(String),
    bank_name       Nullable(String),
    ifsc_code       Nullable(String),
    acc_no          Nullable(String),
    esi_eligibility Nullable(String),
    UAN_no          Nullable(String),
    bloodgrp_cd     Nullable(String),
    supplier_code   Nullable(String),
    service_code    Nullable(String),
    service_desc    Nullable(String),
    emp_type_code   Nullable(String),
    pmpry           Nullable(String),
    domicile_state  Nullable(String),
    eff_till_date   Nullable(String),
    rejection_remarks Nullable(String),
    last_available_date Nullable(String),
    Employeer_Reason Nullable(String),
    Employee_Reason Nullable(String),
    Blacklisted     Nullable(String),
    SAP_ID          Nullable(String),
    RSoft_ID        Nullable(String),
    Modification_Remarks Nullable(String),
    Back_Dated_Hiring_Remarks Nullable(String),
    Physical_Status Nullable(String),
    ERT             Nullable(String),
    Medical_Chekup_From_Date Nullable(String),
    Medical_Chekup_To_Date Nullable(String),
    PAN_Number      Nullable(String),
    Work_experience Nullable(String),
    TP_Code         Nullable(String),
    Source_of_Recruitment Nullable(String),
    Family_Member_1 Nullable(String),
    Member_1_Relationship Nullable(String),
    Member_1_DOB Nullable(String),
    Member_1_Nominee_Percentage Nullable(String),
    Family_Member_2 Nullable(String),
    Member_2_Relationship Nullable(String),
    Member_2_DOB Nullable(String),
    Member_2_Nominee_Percentage Nullable(String),
    Family_Member_3 Nullable(String),
    Member_3_Relationship Nullable(String),
    Member_3_DOB Nullable(String),
    Member_3_Nominee_Percentage Nullable(String),
    Family_Member_4 Nullable(String),
    Member_4_Relationship Nullable(String),
    Member_4_DOB Nullable(String),
    Member_4_Nominee_Percentage Nullable(String),
    Family_Member_5 Nullable(String),
    Member_5_Relationship Nullable(String),
    Member_5_DOB Nullable(String),
    Member_5_Nominee_Percentage Nullable(String),
    Contract_date Nullable(String),
    FOSTAC Nullable(String)')
{% endif %}
SETTINGS input_format_defaults_for_omitted_fields = 1;